body {
    font-family: "Montserrat", Sans-serif;
}

.header {
    margin: 0;
    background-color: #2a442b;
    height: 80px;
}

.carousel {
    margin-top: 80px;
}

.carousel-item img {
    height: 450px;
}

.thumbnail {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    border: transparent;
    border-radius: 10px;
    padding: 0;

    &:hover {
        opacity: 1;
        transform: translateY(-5px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

.thumbnail img {
    width: 80px;
    height: 80px;
}

.thumbnail:hover,
.thumbnail.active {
    opacity: 1;
}

.title-product {
    color: #2a442b;
}

.card {
    cursor: pointer;

    &:hover {
        opacity: 1;
        transform: translateY(-5px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

#testimonials {
    text-align: center;
    overflow: hidden;
    position: relative;
}

#testimonials img {
    width: 50px;
    border-radius: 100%;
}

.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial {
    min-width: 100%;
    box-sizing: border-box;
}

.testimonial p {
    font-style: italic;
    font-size: 1.2em;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#testimonials button {
    background-color: #820d0d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.testimonial-controls button:hover {
    background-color: #555;
}


footer {
    background-color: #20232C;
}