body {
    font-family: "Montserrat", Sans-serif;
}

.modal-content {
    background-color: #2a442b;
}

.btn-register {
    background-color: white;
    border: transparent;
    padding: 10px;
    font-size: 18px;
    color: #2a442b;
    font-weight: 600;
    border-radius: 8px;
}

.btn-register:hover {
    background-color: #eee7e7;
}


.header {
    margin: 0;
    background-color: #2a442b;
    height: 80px;
}

.carousel {
    margin-top: 80px;
}

.carousel-item img {
    height: 450px;
}

.thumbnail {
    cursor: pointer;
    transition: opacity 0.3s;
    border: transparent;
    border-radius: 10px;
    padding: 0;

    &:hover {
        opacity: 1;
        transform: translateY(-5px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

.thumbnail img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .thumbnail img {
        width: 60px;
        height: 60px;
    }

}

.thumbnail:hover,
.thumbnail.active {
    opacity: 1;
}

.title-product {
    color: #2a442b;
}

.content-product {
    border: #3e6b3f 2px solid;
}

.card {
    cursor: pointer;

    &:hover {
        opacity: 1;
        transform: translateY(-5px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    }
}

#countdown {
    text-align: center;
    margin-top: 20px;
}

.countdown-timer {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #d9534f;
}

.cta-button {
    text-decoration: none;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #218838;
}

#testimonials {
    text-align: center;
    overflow: hidden;
    position: relative;
}

#testimonials img {
    width: 50px;
    border-radius: 100%;
}

.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial {
    min-width: 100%;
    box-sizing: border-box;
}

.testimonial p {
    font-style: italic;
    font-size: 1.2em;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#testimonials button {
    background-color: #2a442b;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.testimonial-controls button:hover {
    background-color: #555;
}


footer {
    background-color: #20232C;
}

.social-links a,
.policy-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.social-links a:hover,
.policy-links a:hover {
    color: #007bff;
}